.headbuttoncontainer {
    position: fixed;
    top: 3px;
    right: 60px;
    text-align: center;
    z-index: 100;
}

.headbuttoncontainer button{
    width:36px;
    height:36px;
    border:0px;
    cursor:pointer;
}